extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser && video.creator.id === loggedUser.id
                a(href=routes.editVideo(video.id)) 
                    button  Edit Video

            h5.video__title=video.title
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views  
            .upload__info   
                .avatar
                    img(src=video.creator.avatarUrl)
                    .video__author
                        .creator
                            |Uploaded by 
                            a(href=routes.userDetail(video.creator.id))=video.creator.name
                        p.video__description=video.description 
        .video__comments 
            if video.comments.length <= 1
                span.video__comment-number
                    span#jsCommentNumber #{video.comments.length} 
                    |  comment
            else
                span.video__comment-number
                    span#jsCommentNumber #{video.comments.length} 
                    |  comments
            .comment
                img.commentor(src=user.avatarUrl)    
                form.add__comment#jsAddComment
                    input(type="text", placeholder="Add a comment")
                    input#hiddenImg(type="hidden", value=user.avatarUrl)
                    input#hiddenName(type="hidden", value=user.name)
                    input#userId(type="hidden", value=user.id)   
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    .comment__group
                        img(src=comment.creator.avatarUrl)
                        li
                            span=comment.creator.name
                            span=comment.text
                        .menuIcon
                            i.jsShortCut.fas.fa-ellipsis-v
                            .drop__div
                                .drop__menu(id=comment.id)
                                    if user.id === comment.creator.id
                                        span.updateComment
                                            a
                                                i.fas.fa-pencil-alt  
                                                |수정하기
                                        span.deleteComment
                                            a 
                                                i.fas.fa-trash-alt
                                                |삭제하기
                                    else 
                                       span.declarationComment
                                            a 
                                                i.far.fa-angry
                                                |신고하기