extends layouts/main

block content
    .edit__form__container
        .edit__form__container__top
            .title 
                h3 비디오 수정
            .body
                .video__image
                    video#editvideo(src=`/${video.fileUrl}`)
                form(action=routes.editVideo(video.id), method="post")
                    h5.margin15 제목:
                    input#updateinput(type="text", placeholder="제목", name="title", value=video.title)
                    h5.margin15 설명:
                    textarea#updatetextarea(name="description", placeholder="설명")=video.description
                    input.margin15(type="submit", value="Update Video")
                a.form-container__link(href=routes.deleteVideo(video.id)) 
                    button 비디오 삭제 